<section fxLayout="column"
         fxLayoutAlign="center center"
         fxLayoutGap="50px">

    <h1>Welcome to GenMapper Client App</h1>

    <a target="_blank"
       href="https://www.npmjs.com/package/angular-oauth2-oidc">
        Angular OAuth2 Library
    </a>

    <ng-container *ngIf="!isLoggedIn">
        <div>
            <button mat-raised-button
                    color="primary"
                    (click)="login()">Login</button>
        </div>
    </ng-container>

    <ng-container *ngIf="isLoggedIn">
        <div>
            <h3>You are logged in as <strong>[{{userInfo?.name}}]</strong></h3>
        </div>
        <div>
            <button mat-raised-button
                    color="primary"
                    (click)="logout()">Logout</button>
        </div>
    </ng-container>
    <div>
        <button mat-raised-button
                color="accent"
                (click)="getIdentity()">Get Identity From ToolsApi</button>
    </div>
</section>